include README.md
include LICENSE
include changelog
include tox.ini

include pyinstaller.spec
include src/table_control/assets/*.txt
include src/table_control/assets/icons/*.ico
include src/table_control/assets/icons/*.ico
